body {
  background-color: rgb(255, 255, 255);
  font: 200 3em/1.38 Helvetica;
  color: rgb(0, 0, 0);
  text-rendering: geometricPrecision;
}

.page-container {
  float: left;
  clear: right;
  height: 90vh;
  background: url("../imgs/globe-background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header-button {
  font-weight: 400;
  font-size: .35em;
  padding: 10px;
  float: left;
  clear: right;
  height: 5vh;
  border-top: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}

.header-button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.About-Content {
  font-weight: 400;
  font-size: .35em;
  padding: 10px;
  float: left;
  clear: right;
  height: 30vh;
  border-bottom: 2px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  color: white;
}


.title {
  display: inline-block;
  position: relative;
  float: left;
  clear: right;
  text-align:left;

}

.time {
  display: inline-block;
  float: center;
  text-align: center;
}

.more {
  display: inline-block;
  position: relative;
  float: right;
  text-align: right;
}

.button {
  text-transform: uppercase;
  font-size: 1em;
  padding:10px;
  float: left;
  clear: both;
  height: 30vh;
  min-height: 200px;
  border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
  background: white;
  mix-blend-mode: exclusion;
}

.button:hover {
  mix-blend-mode: exclusion;
  background-color: black;
  color: white;
}

.top-left {
  display: inline-block;
  position: relative;
  height: 25%;
  text-align: left;
  float: left;
  clear: both;
  z-index: 0;
}

.top-right {
  display: inline-block;
  position: relative;
  height: 25%;
  float: right;
  clear: right;
  z-index: 1;
  text-align: right;
}

.mid-cen {
  font-size: 2em;
  display: block;
  float: center;
  height: 50%;
  clear: both;
  text-align: center;
}

.bot-left {
  display: inline-block;
  position: relative;
  height: 25%;
  float: left;
  clear: right;
  text-align: left;
  z-index: 3;
}

.bot-right {
  display: inline-block;
  height: 25%;
  position: relative;
  float: right;
  z-index: 4;
  text-align: right;
}

#Above {
display: none;
}

#MOVE {
display: none;
}

#ACCESS {
display: none;
}

#TRADE {
display: none;
}
#ABOUT {
display: none;
}


.container {
  position: relative;
  float: left;
  width: 100%;
}


.element {
  float: left;
  width: 50%;
  height: 498px;
  margin-top: -1px;
  border-top-color: rgb(255, 255, 255);
  border-top-style: solid;
}


.movement-content {
  float: left;
  clear: both;
  width: 100%;
  height: 60vh;
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
}

.element-1 {
  border-top-width: 4px;
  background-color: rgb(0, 0, 0);
}


.footer {
  font-weight: 400;
  font-size: .35em;
  color: white;
  float: left;
  clear: both;
  height: 5vh;
  padding: 10px;
  position: relative;
  border-top: 2px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
}

._container-2 {
  float: left;
  clear: both;
  width: 100%;
  height: 372px;
  margin-top: 521px;
  border-top: 2px solid rgb(255, 255, 255);
  border-bottom-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
}
