body {
  background-color: rgb(255, 255, 255);
  font: 200 3em/1.38 Helvetica;
  color: rgb(0, 0, 0);
  text-rendering: geometricPrecision;
}

.header-button {
  float: left;
  clear: both;
  height: 5vh;
  min-height: 36px;
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.header-button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.title {
  font-size: .5em;
  display: inline-block;
  float: left;
  margin: 10px;

}

.time {
  font-size: .5em;
  display: inline-block;
  float: left;
  margin:10px;
  text-align: center;

}

.tools {
  font-size: .5em;
  display: inline-block;
  float: right;
  margin:10px;
  text-align: right;

}

.more {
  font-size: .5em;
  display: inline-block;
  float: right;
  margin:10px;
  text-align: right;

}


.top-left {
  display: inline-block;
  position: relative;
  text-align: left;
  margin-left: 10px;
  float: left;
  clear: both;
  z-index: 0;

  font-size: 1em;
  text-transform: uppercase;
}

.top-right {
  display: inline-block;
  position: relative;
  float: right;
  z-index: 1;
  margin-right: 10px;

  font-size: 1em;
  text-align: right;
  text-transform: uppercase;
}

.mid-cen {
  display: block;
  float: center;
  clear: both;
  margin: 10px 10px 0 0;

  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
}

.bot-left {
  display: inline-block;
  position: relative;
  float: left;
  clear: both;
  text-align: left;
  margin-left: 10px;
  z-index: 3;

  font-size: 1em;
  text-transform: uppercase;
}

.bot-right {
  display: inline-block;
  position: relative;
  float: right;

  z-index: 4;
  margin-right: 10px;

  font-size: 1em;
  text-align: right;
  text-transform: uppercase;
}

.button {
  float: left;
  clear: both;
  height: 33vh;
  min-height: 200px;
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

#MOVE {
display: none;
}

#ACCESS {
display: none;
}

#TRADE {
display: none;
}
#ABOUT {
display: none;
}


.container {
  position: relative;
  float: left;
  width: 100%;
}


.element {
  float: left;
  width: 50%;
  height: 498px;
  margin-top: -1px;
  border-top-color: rgb(255, 255, 255);
  border-top-style: solid;
}


.movement-content {
  float: left;
  clear: both;
  width: 100%;
  height: 60vh;
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
}




._container {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.container-1 {
  z-index: 15;
  height: 10vh;
  background-color: rgb(0, 0, 0);
}

.container-2 {
  clear: both;
  z-index: 20;
  height: 37px;
  margin-top: -371px;
  border-bottom-color: rgb(255, 255, 255);
}

.element-1 {
  border-top-width: 4px;
  background-color: rgb(0, 0, 0);
}

.element-2 {
  position: relative;
  z-index: 8;
  border-top-width: 2px;
  background-color: rgb(255, 255, 255);
}

.footer {
  float: left;
  clear: both;
  width: 100%;
  height: 5vh;
  min-height: 36px;
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

._container-1 {
  float: left;
  width: 100%;
  height: 36px;
  border-bottom-color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

._container-2 {
  float: left;
  clear: both;
  width: 100%;
  height: 372px;
  margin-top: 521px;
  border-top: 2px solid rgb(255, 255, 255);
  border-bottom-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
}
