<section  id="ABOUT" class="movement-content fluid-span-6">
  <div class="divsection divsection-4 clearfix">
    <div class="text text-16">
      <p>Globalization refers to the free movement of goods, capital, services, people, technology and information. It is the action or procedure of international integration of countries arising from the convergence of world views, products, ideas, and other aspects of culture.&nbsp;</p>
      <p>A Good Globalist is one who promotes and extends the three principles of globalism: free movement of people, fair trade of goods, and open access to information. The meaning of these principles is explored below through images, charts, and maps. </p>
    </div>
  </div>
</section>

<button onClick="myFunction()" class="header-button fluid-span-6">
  <span class="title fluid-span-2">A Good Globalist</span>
  <span id="time" class="time fluid-span-2">12:00AM New York, NY</span>
  <span class="tools fluid-span-1">Tools</span>
  <span class="more fluid-span-1">?</span>
</button>

<script>
function myFunction() {
    var x = document.getElementById('ABOUT');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>
