<button id="showMovement" class="button fluid-span-6">
  <span class="top-left fluid-span-1">01</span>
  <span class="top-right fluid-span-1">Free</span>
  <span class="mid-cen fluid-span-6">Movement</span>
  <span class="bot-left fluid-span-1">of</span>
  <span class="bot-right fluid-span-1">People</span>
</button>
<section  id="MOVE" class="movement-content clearfix">
  <div class="element element-1"></div>
  <div class="element element-2"></div>
  <p class="text"></p>
</section>

<script>
$(document).ready(function showMovement(){
    $("#showMovement").click(function(){
        $("#MOVE").slideToggle("slow");
    });
});
</script>
