<button id="showMovement" onclick="showMovement()" class="button fluid-span-6">
  <span class="top-left fluid-span-1">01</span>
  <span class="top-right fluid-span-1">Free</span>
  <span class="mid-cen fluid-span-6">Movement</span>
  <span class="bot-left fluid-span-1">of</span>
  <span class="bot-right fluid-span-1">People</span>
</button>
<!-- <script src="funtions.js"></script> -->
<section  id="MOVE" class="section-content fluid-span-6">
  <div class="left-content fluid-span-3"></div>
  <div class="right-content fluid-span-3"></div>
  <p class="text"></p>
</section>

<script>
$(document).ready(function showMovement(){
    $("#showMovement").click(function(){
        $("#MOVE").slideToggle("slow");
    });
});
</script>
