<button onClick="window.location='#movement-content';" class="button fluid-span-6">
  <span class="top-left fluid-span-1">02</span>
  <span class="top-right fluid-span-1">Fair</span>
  <span class="mid-cen fluid-span-6">Trade</span>
  <span class="bot-left fluid-span-1">of</span>
  <span class="bot-right fluid-span-1">Goods</span>
</button>
<section  id="TRADE" class="movement-content fluid-span-6">
  <div class="element element-1"></div>
  <div class="element element-2"></div>
  <p class="text"></p>
</section>

<script>
function myFunction() {
    var x = document.getElementById('TRADE');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>
