<button id="showTrade" onclick="showTrade()" class="button fluid-span-6">
  <span class="top-left fluid-span-1">02</span>
  <span class="top-right fluid-span-1">Fair</span>
  <span class="mid-cen fluid-span-6">Trade</span>
  <span class="bot-left fluid-span-1">of</span>
  <span class="bot-right fluid-span-1">Goods</span>
</button>
<section  id="TRADE" class="section-content fluid-span-6">
  <div class="left-content fluid-span-3"></div>
  <div class="right-content fluid-span-3"></div>
  <p class="text"></p>
</section>

<script>
$(document).ready(function showTrade(){
    $("#showTrade").click(function(){
        $("#TRADE").slideToggle("slow");
    });
});
</script>
