<button id="showTrade" onclick="showTrade()" class="button fluid-span-6">
  <span class="top-left fluid-span-1">02</span>
  <span class="top-right fluid-span-1">Fair</span>
  <span class="mid-cen fluid-span-6">Trade</span>
  <span class="bot-left fluid-span-1">of</span>
  <span class="bot-right fluid-span-1">Goods</span>
</button>
<section  id="TRADE" class="section-content fluid-span-6">
  <div class="left-content fluid-span-1">
    <ul class="hoverimage">
        <li class="menu-item" data-image='http://cdn.instructables.com/FNK/CXB1/H9G190RO/FNKCXB1H9G190RO.MEDIUM.jpg'>NASA, 1969</li>
        <li class="menu-item" data-image='http://cdn.instructables.com/F6E/CTDW/H9G190RP/F6ECTDWH9G190RP.LARGE.jpg'>Berlin Wall, 1980</a></li>
        <li class="menu-item" data-image='http://cdn.instructables.com/F8B/YMOT/H9G190RL/F8BYMOTH9G190RL.LARGE.jpg'>menu option</a></li>
    </ul>
  </div>

  <div class="center-content fluid-span-4">
    <div class='img_conatainer'></div>
  </div>


  <div class="right-content fluid-span-1">
    <ul class="hoverimage">
        <li class="menu-item" data-image='http://cdn.instructables.com/FNK/CXB1/H9G190RO/FNKCXB1H9G190RO.MEDIUM.jpg'>NASA, 1969</li>
        <li class="menu-item" data-image='http://cdn.instructables.com/F6E/CTDW/H9G190RP/F6ECTDWH9G190RP.LARGE.jpg'>Berlin Wall, 1980</a></li>
        <li class="menu-item" data-image='http://cdn.instructables.com/F8B/YMOT/H9G190RL/F8BYMOTH9G190RL.LARGE.jpg'>menu option</a></li>
    </ul>
  </div>
</section>

<script>
$(document).ready(function showTrade(){
    $("#showTrade").click(function(){
        $("#TRADE").slideToggle("slow");
    });
});
</script>
